#main-form {
    border: 2px solid black;
    background: #e9ecef;
    padding: 2rem;
    margin-bottom: 1rem;
}

#show-contact{
    margin-bottom: 10px;
}

.list-group-item{
    background: #e9ecef;
    color: black;
    margin-bottom: 5px;
}


