#main-form {
    border: 2px solid black;
    background: #e9ecef;
    padding: 2rem;
    margin-bottom: 1rem;
}

.hide{
    display: none;
}

.error{
    background: red;
    color: white;
    padding: 5px;
}